<div class="row p-2">
<!--  <div class="row">-->
    <div class="input-group">
      <div class="input-group-text w-auto border-end">
        <input [formControl]="mastered" class="form-check-input" style="margin-left:-0.5rem;" type="checkbox">
      </div>
<!--      <div style="width: 95%" class="input-group-text overflow-hidden text-left border-start border-end">{{name}}</div>-->
      <div style="width: 80%;" class=" input-group-text overflow-hidden text-left border-start border-end">{{name}}</div>
      <input [formControl]="value" class=" form-control fs-6" type="text" placeholder="--">
      <!--          <input class="form-control fs-6" type="text" placeholder="999">-->
    </div>
<!--  </div>-->
</div>
