<div class="container">

    <div class="row">

        <ul ngbNav #nav="ngbNav" class="nav-tabs" [keyboard]="true">
            <li ngbNavItem>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Toggle dropdown
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem ngbNavLink (click)="action = 1">Action - 1</button>
                        <button ngbDropdownItem ngbNavLink (click)="action = 2">Another Action</button>
                    </div>
                </div>
                <ng-template ngbNavContent>

                    <div class="row card">
                        <div class="col p-1 m-2">
                            Third content {{randomFloat}}
                        </div>
                        <div class="col p-1 m-2">
                            <button class="btn btn-primary" [disabled]="processing" (click)="onPress()">
                                Generate</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3 p-2 m-2">
                            <span class="fs-3 text-primary">
                                {{'Value: ' + d6value}}
                            </span>
                        </div>
                        <div class="col p-2 m-2">
                            <button class="btn btn-primary" [disabled]="processing"
                                (click)="roll(Die.D6)">Roll
                                1D6</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="hstack gap-3">
                                    <div>
                                        <span class="text-primary">{{'Value:' + d20value}}</span>
                                    </div>
                                    <button class="btn btn-primary"
                                        (click)="roll(Die.D20)">Button</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </ng-template>
            </li>
            <li ngbNavItem>
                <button ngbNavLink>Second</button>
                <ng-template ngbNavContent>Second content</ng-template>
            </li>
            <li ngbNavItem>
                <button ngbNavLink (click)="this.getRandomNumber()">random float</button>
                <ng-template ngbNavContent>
 
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div>
    <div class="row">
        <span class="fs-3">Some other stuff...</span>
    </div>
</div>

<!-- <div class="container">
    <div class="row m-2">
        <ul ngbNav #nav class="nav-tabs">
            <li ngbNavItem>
                <button ngbNavLink>Button</button>
                <ng-template ngbNavContent>
                    this content
                </ng-template>
            </li>
            <li ngbNavItem>
                <button ngbNavLink>Button</button>
                <ng-template ngbNavContent>
                    this content 2
                </ng-template>
            </li>
            <li ngbNavItem>
                <button ngbNavLink>Button</button>
                <ng-template ngbNavContent>
                    this content 3
                </ng-template>
            </li>
        </ul>
    </div>

    <div [ngbNavOutlet]="nav"></div>
</div> -->