<div class="container">
    <div class="row my-5 text-center">
        <h1>D&D 5e</h1>
    </div>
    <div class="row my-2">
        <div class="col m-2">
            <div class="input-group">
                <input *ngIf="this.advantageClass.index === 0" class="form-control" type="number" [(ngModel)]="model.roll">
                <div class="input-group-text">+prof:</div>
                <input class="form-control" type="number" [(ngModel)]="model.proficiency">
                <button class="btn" [ngClass]="advantageClass.current" (click)="toggleAdv()">ADV</button>
                <select class="form-select" [(ngModel)]="model.die">
                    <option *ngFor="let die of Die | keyvalue">{{die.key}}</option>
                </select>
                <!-- <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-primary" ngbDropdownToggle>Die</button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <button *ngFor="let die of Die | keyvalue" ngbDropdownItem>{{die.key}}</button>
                    </div>
                </div> -->
                <button class="btn btn-primary" (click)="roll()">Roll</button>
                <input class="form-control" type="number" [(ngModel)]="model.healcubes">
                <button class="btn btn-success" (click)="heal()">Heal</button>
            </div>

            <div class="row" *ngFor="let entry of previousStates">
                <span class="fs-4">{{'Value: '+ entry.roll + " prof: " + entry.proficiency + ' array: '+ entry.rollarray}} </span>
            </div>
        </div>
        <div class="col mx-2">
            <div class="row my-2">
                <div class="input-group" (keydown.enter)="incrementHp(true)" (keydown.shift.enter)="incrementHp(false)">
                    <div class="input-group-text">HP</div>
                    <input #healthdiff class="form-control" type="number" [(ngModel)]="model.health">
                    <div class="input-group-text">Temp. HP</div>
                    <input #healthdiff class="form-control" type="number" [(ngModel)]="model.thealth">
                    <button class="btn btn-success" (click)="incrementHp(true)"><i class="bi bi-plus-lg"></i></button>
                    <button class="btn btn-danger" (click)="incrementHp(false)"><i class="bi bi-dash-lg"></i></button>
                </div>
            </div>
            <div class="row my-2" *ngFor="let entry of this.previousStates">
                <div class="input-group">
                    <div class="input-group-text">
                        {{'HP: '+entry.health}}
                    </div>
                    <div class="input-group-text">
                        {{'Temp HP: ' + entry.thealth}}
                    </div>
                    <button class="btn btn-outline-secondary" (click)="setHp(entry.health, entry.thealth)">
                        <i class="bi bi-arrow-counterclockwise"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3" style="min-height: 500px"></div>
</div>