<!-- TODO: transform this into a nav-like object-->
<div class="row">
  <div class="col-3">
    <h1 class="p-2">D&D 5e</h1>
  </div>
  <div class="col-4">
    <label class="form-label">Character Name</label>
    <input class="form-control">
  </div>
  <div class="col-2">
    <label class="form-label">Race</label>
    <input class="form-control">
  </div>

  <div class="col-1">
    <label class="form-label">Lv</label>
    <input class="form-control">
  </div>
  <div class="col-2">
    <label class="form-label">Class</label>
    <input class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-3">
    <h4 class="p-2"><i>interactive character sheet (pre-alpha)</i></h4>
  </div>
  <div class="col-4">
    <label class="form-label">Player</label>
    <input class=" form-control">
  </div>
  <div class="col-2">
    <label class="form-label">Background</label>
    <input class=" form-control">
  </div>
  <div class="col-2">
    <label class="form-label">Alignment</label>
    <input class=" form-control">
  </div>
  <div class="col-1">
    <label class="form-label">EXP</label>
    <input class=" form-control">
  </div>
</div>
