<div class="container-fluid">
  <div class="row my-5 justify-content-evenly">
    <div *ngFor="let attr of attributes | keyvalue" class="col-auto">
      <app-attribute-box [attribute]="attr.value"></app-attribute-box>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-auto">
      <app-skill-checkbox *ngFor="let skill of skills | keyvalue" [name]="skill.value"></app-skill-checkbox>
    </div>

    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item nav-link active">Attacks and Abilities</li>
        <li class="nav-item nav-link">Features and Traits</li>
      <li class="nav-item nav-link">Personality and Backstory</li>
      </ul>


      <app-text-accordion></app-text-accordion>
    </div>
  </div>
</div>
